environments {
	development {
		devenv = "C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\Common7\\IDE\\devenv.com"
		SqlPackage = "C:\\Program Files (x86)\\Microsoft SQL Server\\120\\DAC\\bin\\SqlPackage.exe"
		ISDeploy = "C:\\Program Files (x86)\\Microsoft SQL Server\\120\\DTS\\Binn\\ISDeploymentWizard.exe"
		ASDeploy = "C:\\Program Files (x86)\\Microsoft SQL Server\\120\\Tools\\Binn\\ManagementStudio\\Microsoft.AnalysisServices.Deployment.exe"
		sqlcmd = "C:\\Program Files (x86)\\Microsoft SQL Server\\Client SDK\\ODBC\\110\\Tools\\Binn\\sqlcmd.exe"

		server = "localhost\\MSSQL2014"
	}
}